body{
    background:white;
    background: url('/images/bg.png');
    font-family: 'Baloo Bhai', cursive;
    height: 300px;
}

/* NAVBAR STARTS HERE  */

#logo img{
    height: 70px;
    margin-top: 20px;
}

#nav{
    display: flex;
    align-items: center;
}

#nav ul{
    display: flex;
}

#nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 1.7rem;
}

#nav ul li a{
    text-decoration: none;
    color: rgb(120, 108, 108);
}

#nav ul li a:hover{
    color: rgb(105, 91, 91);
    text-decoration:underline;
}

.item{
    padding-left: 50px;
}

/* NAVBAR ENDS HERE  */

/* feedback form starts here */
.form{
    border: 5px solid red;
    height: 620px;
}

.form header{
    text-align: center;
    font-size: 30px;
    background: #5d5b5b;
}

#credentials{
    font-size: 30px;
    text-align: center;
}

#credentials input{
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    margin: 0px 0px 0px 15px;
}

#emoji{
    margin-top: 15%;
}

#emoji:hover{
    cursor: pointer;
}